<form
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
  class="form"
  style="max-width: 600px; margin: auto; margin-top: 5%"
>
  <!-- First Name -->
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input id="firstName" formControlName="firstName" class="form-control" />
    <div
      *ngIf="
        f['firstName'].invalid &&
        (f['firstName'].dirty || f['firstName'].touched)
      "
    >
      <small *ngIf="f['firstName'].errors?.['required']" class="text-danger">
        First name is required.
      </small>
      <small *ngIf="f['firstName'].errors?.['serverError']" class="text-danger">
        {{ f['firstName'].errors?.['serverError'] }}
      </small>
    </div>
  </div>

  <!-- Last Name -->
  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input id="lastName" formControlName="lastName" class="form-control" />
    <div
      *ngIf="
        f['lastName'].invalid && (f['lastName'].dirty || f['lastName'].touched)
      "
    >
      <small *ngIf="f['lastName'].errors?.['required']" class="text-danger">
        Last name is required.
      </small>
      <small *ngIf="f['lastName'].errors?.['serverError']" class="text-danger">
        {{ f['lastName'].errors?.['serverError'] }}
      </small>
    </div>
  </div>
  <!-- BirthDate -->
  <div class="form-group">
    <label for="birthDate">birthDate:</label>
    <input
      id="birthDate"
      formControlName="birthDate"
      placeholder="dd/mm/yyyy"
      class="form-control"
      (blur)="checkDate()"
      DateParser3
      [minYear]="1900"
      [maxYear]="2005"
      [(ngModel)]="birthDatee"
      [autoComplete]="false"
      [addValidation]="true"
      (ngModelChange)="onDateChange($event)"

    />

    <div
      *ngIf="
        f['birthDate'].invalid &&
        (f['birthDate'].dirty || f['birthDate'].touched)
      "
    >
      <!-- invalidDate -->
      <small *ngIf="f['birthDate'].errors?.['invalidDate']" class="text-danger">
        Invalid date format. Must be in the format dd/mm/yyyy.
      </small>
      <small *ngIf="f['birthDate'].errors?.['required']" class="text-danger">
        Birth date is required.
      </small>
      <small *ngIf="f['birthDate'].errors?.['serverError']" class="text-danger">
        {{ f['birthDate'].errors?.['serverError'] }}
      </small>
    </div>
  </div>
  <div class="form-group">
    <label for="birthDate">SecondDate:</label>
    <input #secondDate (blur)="checkDate()" class="form-control" type="date" />
    <div
      *ngIf="
        f['birthDate'].invalid &&
        (f['birthDate'].dirty || f['birthDate'].touched)
      "
    >
      <!-- invalidDate -->
      <!-- <small *ngIf="f['birthDate'].errors?.['invalidDate']" class="text-danger">
        Invalid date format. Must be in the format dd/mm/yyyy.
      </small> -->
      <small *ngIf="f['birthDate'].errors?.['required']" class="text-danger">
        Birth date is required.
      </small>
      <small *ngIf="f['birthDate'].errors?.['serverError']" class="text-danger">
        {{ f['birthDate'].errors?.['serverError'] }}
      </small>
    </div>
  </div>
  <!-- Email -->
  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email" formControlName="email" class="form-control" />
    <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)">
      <small *ngIf="f['email'].errors?.['required']" class="text-danger">
        Email is required.
      </small>
      <!-- notUnique -->
      <small *ngIf="f['email'].errors?.['emailTaken']" class="text-danger">
        Email is already taken.
      </small>
      <small *ngIf="f['email'].errors?.['email']" class="text-danger">
        Invalid email format.
      </small>
      <small *ngIf="f['email'].errors?.['serverError']" class="text-danger">
        {{ f['email'].errors?.['serverError'] }}
      </small>
    </div>
  </div>

  <!-- Mobile -->
  <div class="form-group">
    <label for="mobile">Mobile:</label>
    <input
      id="mobile"
      formControlName="mobile"
      class="form-control"
      UniqueValidator
      [propertyName]="'Mobile'"
      [userId]="userId ? userId : '0'"
    />
    <div
      *ngIf="f['mobile'].invalid && (f['mobile'].dirty || f['mobile'].touched)"
    >
      <small *ngIf="f['mobile'].errors?.['required']" class="text-danger">
        Mobile is required.
      </small>
      <small *ngIf="f['mobile'].errors?.['notUnique']" class="text-danger">
        Mobile is already taken.
      </small>
      <small *ngIf="f['mobile'].errors?.['pattern']" class="text-danger">
        Invalid mobile format. Must start with 05 and be 10 digits long.
      </small>
      <small *ngIf="f['mobile'].errors?.['serverError']" class="text-danger">
        {{ f['mobile'].errors?.['serverError'] }}
      </small>
    </div>
  </div>

  <!-- Municipal No -->
  <div class="form-group">
    <label for="municipalNo">Municipal No:</label>
    <input
      id="municipalNo"
      formControlName="municipalNo"
      class="form-control"
      UniqueValidator
      [propertyName]="'MunicipalNo'"
      [userId]="userId ? userId : '0'"
    />
    <div
      *ngIf="
        f['municipalNo'].invalid &&
        (f['municipalNo'].dirty || f['municipalNo'].touched)
      "
    >
      <small *ngIf="f['municipalNo'].errors?.['required']" class="text-danger">
        Municipal number is required.
      </small>
      <small *ngIf="f['municipalNo'].errors?.['notUnique']" class="text-danger">
        municipalNo is already taken.
      </small>
      <small *ngIf="f['municipalNo'].errors?.['pattern']" class="text-danger">
        Invalid municipal number format. Must be 6-10 digits long.
      </small>
      <small
        *ngIf="f['municipalNo'].errors?.['serverError']"
        class="text-danger"
      >
        {{ f['municipalNo'].errors?.['serverError'] }}
      </small>
    </div>
  </div>

  <!-- National ID -->
  <div class="form-group">
    <label for="nationalId">National ID:</label>
    <input
      id="nationalId"
      formControlName="nationalId"
      class="form-control"
      UniqueValidator
      [propertyName]="'NationalId'"
      [userId]="userId ? userId : '0'"
    />
    <div
      *ngIf="
        f['nationalId'].invalid &&
        (f['nationalId'].dirty || f['nationalId'].touched)
      "
    >
      <small *ngIf="f['nationalId'].errors?.['required']" class="text-danger">
        National ID is required.
      </small>
      <small *ngIf="f['nationalId'].errors?.['notUnique']" class="text-danger">
        NationalID is already taken.
      </small>
      <small *ngIf="f['nationalId'].errors?.['pattern']" class="text-danger">
        Invalid national ID format. Must be 10 digits long.
      </small>
      <small
        *ngIf="f['nationalId'].errors?.['serverError']"
        class="text-danger"
      >
        {{ f['nationalId'].errors?.['serverError'] }}
      </small>
    </div>
  </div>

  <!-- Marital Status -->
  <div class="form-group">
    <label for="maritalStatusId">Marital Status:</label>
    <select
      id="maritalStatusId"
      formControlName="maritalStatusId"
      class="form-control"
    >
      <option *ngFor="let status of maritalStatusOptions" [value]="status.id">
        {{ status.name }}
      </option>
    </select>
    <div
      *ngIf="
        f['maritalStatusId'].invalid &&
        (f['maritalStatusId'].dirty || f['maritalStatusId'].touched)
      "
    >
      <small
        *ngIf="f['maritalStatusId'].errors?.['required']"
        class="text-danger"
      >
        Marital status is required.
      </small>
      <small
        *ngIf="f['maritalStatusId'].errors?.['serverError']"
        class="text-danger"
      >
        {{ f['maritalStatusId'].errors?.['serverError'] }}
      </small>
    </div>
  </div>

  <!-- Address -->
  <div class="form-group">
    <label for="address">Address:</label>
    <textarea
      id="address"
      formControlName="address"
      class="form-control"
    ></textarea>
  </div>

  <div class="row mt-3">
    <div class="col-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-2">
      <button class="btn btn-dark" (click)="back()">Back</button>
    </div>
  </div>
  <!-- Submit Button -->

  <!-- Back -->
</form>
