<div (keyup.enter)="onSearch(search.value)">
  <!-- <button class="btn btn-primary" (click)="navigateToEmpty()">
    Navigate to Empty
  </button> -->
  <button class="btn btn-primary" (click)="toggleLang()">SwitchLang</button>
  <!-- <button class="btn btn-primary" (click)="toggleSingleActionStyle()">
    Toggle Single Action Style
  </button> -->

  <div class="row">
    <div class="col-2">
      <!-- <select class="form-control col-3" #searchField>
      <option
        *ngFor="let column of dataGridConfig.columns"
        [value]="localizeField(column.field, column.isMultiLang!)"
      >
        {{ column.header | translate }}
      </option>
    </select> -->
    </div>
    <div class="col-6">
      <input
        type="text"
        class="form-control d-inline"
        placeholder="Search By FirstName Or LastName Name"
        #search
        [(ngModel)]="name"
      />
            <!-- (keyup.enter)="onSearch(search.value)"
        (input)="strip(search.value)" -->
    </div>

    <div class="col-3">
      <button class="btn btn-primary" (click)="onSearch(search.value)">
        Search
      </button>
      <!-- Cancel Search -->
      <!-- <button class="btn btn-primary" (click)="onCancelSearch()">
        Reset Search
      </button> -->
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <input
        type="text"
        class="form-control d-inline"
        placeholder="Search By Email"
        #search
        [(ngModel)]="email"
  
      />
    </div>
  </div>  
     <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <input
        type="text"
        class="form-control d-inline"
        placeholder="Search By Mobile"
        #search
        [(ngModel)]="mobile"
  
      />
    </div>
  </div> 
    <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <input
        type="text"
        class="form-control d-inline"
        placeholder="Search By nationalId"
        #search
        [(ngModel)]="nationalId"
  
      />
    </div>
  </div>   
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <input
        type="text"
        class="form-control d-inline"
        placeholder="Search By municipalNo"
        #search
        [(ngModel)]="municipalNo"
  
      />
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <input
        type="text"
        class="form-control d-inline"
        placeholder="Search By maritalStatus"
        #search
        [(ngModel)]="maritalStatus"
  
      />
    </div>
  </div>
  <!-- End Search -->
  <!-- Date Range Search -->
  <!-- <div class="row">
    <div class="col-2"></div>
    <div class="col-3">
      <input
        type="date"
        class="form-control d-inline"
        placeholder="From"
        #fromDate
        [(ngModel)]="startDate"
      />
    </div>
    <div class="col-3">
      <input
        type="date"
        class="form-control d-inline"
        placeholder="To"
        #toDate
        [(ngModel)]="endDate"
      />
    </div> -->
    <!-- <div class="col-3">
    <button
      class="btn btn-primary d-inline"
      (click)="onDateSearch()"
      [disabled]="isDateDisabled()"
    >
      Search
    </button>
    <button class="btn btn-primary d-inline" (click)="onCancelDateSearch()">
      Reset Search
    </button>
  </div> -->
  <!-- </div> -->
  <!-- End Date Range Search -->
  <!-- Add Filter By Cateogry -->
  <!-- <div class="row">
    <div class="col-4"></div>

    <div class="col-3">
      <select
        class="form-control d-inline"
        #category
        (change)="onFilter(category.value)"
      >
        <option value="">All</option>
        <option *ngFor="let option of filter" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div> -->
  <div style="overflow-x: auto;">
    <table class="table ">
      <!-- #region Headers -->
      <thead>
        <tr class="bg-danger">
          <!-- Toggle All Check Box -->
          <th>
            <input
              title="Checkbox"
              type="checkbox"
              (change)="toggleSelectAll()"
              [checked]="isAllSelected()"
            />
          </th>
          <!-- Dynamically Generate Headers Based on Config -->
          <th *ngFor="let column of dataGridConfig.columns">
            {{ column.header | translate }}
            <!-- {{'buttons.Edit' | translate}} -->
            <!-- Sort -->
            <button
              class="btn"
              (click)="onSort(column)"
              *ngIf="column.sortable"
            >
             
              <span
                
              >
                <i *ngIf="
                  localizeField(column.field, column.isMultiLang!) ==
                    state.currentSortColumn && state.sortDirection === 'asc'
                " class="fas fa-sort-up"></i>
                <i *ngIf="
                  localizeField(column.field, column.isMultiLang!) ==
                    state.currentSortColumn && state.sortDirection === 'desc'
                " class="fas fa-sort-down"></i>
                <i *ngIf="
                  localizeField(column.field, column.isMultiLang!) !=
                  state.currentSortColumn
                " class="fas fa-sort"></i>
              </span>
              
            
            </button>
            <span
            class="btn no-pointer"
              *ngIf="!column.sortable"
            >
              <span  
                ><i class="fas "></i></span
              >
          </span>
          </th>
        </tr>
      </thead>
      <!-- #endregion Headers -->
      <!--#region Loading -->
      <!-- <tbody *ngIf="isLoading()">
    <dialog open>
      <div class="loader"></div>
    </dialog>
  </tbody> -->
      <!-- #endregion -->

      <tbody *ngIf="!isEmpty()">
        <!--#region Bulk Actions -->
        <tr *ngIf="state.multiMode && isThereEnabledMultiActions()">
          <span *ngFor="let action of dataGridConfig.actions">
            <button
              *ngIf="isEnabledMultiAction(action)"
              class="btn btn-primary"
              (click)="action.callback(state.multiEntity)"
            >
              {{ action.name | translate }}
            </button>
          </span>
        </tr>
        <!-- #endregion -->

        <!--#region Single Action if Display Type ==HEADER -->
        <tr
          *ngIf="isHeaderDisplay() && !state.multiMode && state.selectedEntity"
        >
          <td *ngFor="let action of dataGridConfig.actions">
            <button
              *ngIf="isEnableSingleAction(action)"
              class="btn btn-primary"
              (click)="action.callback(state.selectedEntity)"
            >
              {{ action.name | translate }}
            </button>
          </td>
        </tr>
        <!-- #endregion -->

        <!-- #region Single Action if SingleDisplay specifed -->
        <tr *ngIf="!isHeaderDisplay() && !state.multiMode && isSelectedEntity">
          <ng-container *ngIf="state.selectedEntity">
            <td *ngFor="let action of dataGridConfig.actions">
              <button
                *ngIf="isEnableSingleAction(action) && isActionHeader(action)"
                class="btn btn-primary"
                (click)="action.callback(state.selectedEntity)"
              >
                {{ action.name | translate }}
              </button>
            </td>
          </ng-container>
        </tr>
        <!-- #endregion -->

        <!-- Data Based on DisplayedData -->
        <tr *ngFor="let row of state.displayedData">
          <td>
            <input
              title="Checkbox"
              type="checkbox"
              (change)="toggleSelectEntity(row)"
              [checked]="isSelectedEntity(row)"
            />
          </td>
          <!-- Dynamic Data Rows -->
          <!-- if Multi Field -->

          <td *ngFor="let column of dataGridConfig.columns">
            <!-- if Multi field -->
            <span *ngIf="column.isMultiLang">
              <!-- {{ row[column.multiField![currentLocale()]] }} -->
              {{ row[localizeField(column.field, column.isMultiLang)] }}
            </span>
            <!-- else -->
            <span *ngIf="!column.isMultiLang">
              {{ row[column.field] }}
            </span>
          </td>

          <!-- #region  ROW Actions -->
          <td *ngFor="let action of dataGridConfig.actions">
            <button
              *ngIf="
                action.type === ActionType.Single &&
                action.enabled &&
                !isHeaderDisplay() &&
                !isActionHeader(action)
              "
              class="btn btn-primary"
              (click)="action.callback(row)"
            >
              {{ action.name | translate }}
            </button>
          </td>
          <!--#endregion -->
        </tr>
      </tbody>

      <!-- Empty Body -->
      <tbody *ngIf="isEmpty()">
        <tr>
          <td colspan="100%">
            <h1 class="text-center">No Data</h1>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Paginator Component -->
    <app-paginator
      [total]="state.total"
      [pageSize]="state.pageSize"
      [currentPage]="state.pageNumber"
      [paginationOptions]="paginatorOptions"
      (paginationChange)="onPaginationChange($event)"
    ></app-paginator>
  </div>
</div>
